@model IEnumerable<Booking.ViewModels.RolesViewModel>
@{
    ViewBag.Title = "GetRoles";
}

<style>
    table td {
        padding: 10px;
    }
</style>

<h2>GetRoles</h2>


<table>
    <tr>
        <td>Email</td>
        <td>Role</td>

    </tr>
    @foreach (var user in Model.ToList())
    {
        <tr>
            <td>@user.UserName</td>

            @using (Html.BeginForm("ChangeRole", "Rooms", FormMethod.Get))
            {
                @Html.TextBox("UserName", user.UserName, new { hidden = "hidden" })

                foreach (var role in user.RoleNames)
                {


        <td>
            @role
            @Html.TextBox("RoleNames", role, new { hidden = "hidden" })
            @if (role == "Admin")
            {
                <input type="submit" value="Down" onclick="this.form.submit();" />
            }
            else if (role == "User")
            {
                <input type="submit" value="Up" onclick="this.form.submit();" />
            }





        </td>

                }

            }

        </tr>

    }

</table>



