@model Booking.Entity_Models.Room
@{
    ViewBag.Title = "GetRoom";
}

<h2>GetRoom</h2>

<p>
    @ViewBag.data
</p>


@using (Html.BeginForm("GetRoom", "Rooms", FormMethod.Post))
{
    
    <p>
        Time:
        <input type="date" name="ReservedTime" min="@Model.MinTime" max="@Model.MaxTime" required/>
    </p>
    <p>
        People:
        <input type="number"  min="0" max="@Model.MaxPeople" required/>
    </p>
    <input type="submit" onclick="this.form.submit();" />
}
