@model IEnumerable<Booking.Models.RolesViewModel>
@{
    ViewBag.Title = "Контроль статусів";
}


<table class="table" style="margin-top:50px;">
    <tr>
        <td>
            Eлектронна пошта
        </td>
        <td>Активний статус</td>
        <td>Змінити на</td>
    </tr>
    @foreach (var user in Model.ToList())
    {
        <tr>
            <td>
                @user.UserName
            </td>

            @using (Html.BeginForm("ChangeRole", "Admin", FormMethod.Get))
            {
                @Html.TextBox("UserName", user.UserName, new { hidden = "hidden" })

                foreach (var role in user.RoleNames)
                {


                    <td>
                        @role
                        @Html.TextBox("RoleNames", role, new { hidden = "hidden" })

                    </td>
                    if (role == "Admin")
                    {
                        <td>
                            <input type="submit" value="User" class="btn btn-default" onclick="this.form.submit();" />
                        </td>
                    }
                    else if (role == "User")
                    {
                        <td>
                            <input type="submit" value="Admin" class="btn btn-default" onclick="this.form.submit();" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="submit" value="Boss" class="btn btn-default" disabled />
                        </td>
                    }

                }

            }

        </tr>

    }

</table>



