
@{
    ViewBag.Title = "Підтвердження";
}

<h2>
    @ViewBag.msg
</h2>


<script>
    //var asdf = document.getElementById('#item_ReservedId').val();
    //var id = get $('#item_ReservedId').val();
    var url = "/Reserveds/MyEvents";
    //window.setTimeout(
    //    window.location.href = url
    //    , 4000);
    //window.location.href = url;

</script>