


<div class="center-block">
    <p>
        Вас запрошено на Event<br />
        Дата:<br />
        Час початку:<br />
        Час кінця:<br />
        Організатор:<br />
    </p>
    <a href="https://localhost:44367/Reserveds/AcceptInvite?true">Прийняти</a>
    <br /><br />
    <a href="https://localhost:44367/Reserveds/AcceptInvite?false">Відхилити</a>
</div>
