@model IEnumerable<Booking.Models.ReservedViewModels.IndexReserveViewModel>

    @if (Model != null)
    {
    <table class="table table-hover">
        <tr>
            <th>
                Room
            </th>
            <th>
                Event
            </th>
            <th>
                User
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Room.NameRoom
                </td>
                <td>
                    @item.EventName
                </td>
                <td>
                    @item.User.UserName
                </td>
            </tr>
        }
    </table>
    }
    else
    {
        <span class="text-danger">
            Збігів не знайдено
        </span>
    }

