@model IEnumerable<Booking.Entity_Models.Reserved>

<div id="searchresults">
    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <p>
                <span>
                    @item.Room.NameRoom
                </span>
                <span>
                    @item.EventName
                </span>
                <span>
                    @item.User.UserName
                </span>

            </p>
            
        }
    }
    else
    {
        <p>
            Збігів не знайдено
        </p>
    }




</div>